HappyHours/Service References/ServiceReferenceHappyHours/ServiceClientHappyHours.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceClientHappyHours" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5056/ServiceClientHappyHours.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5056/ServiceClientHappyHours.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5056/ServiceClientHappyHours.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HhDataLayer.DBO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceClientHappyHours_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServiceClientHappyHours_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClientHappyHours_GetListUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListUser" />
  </wsdl:message>
  <wsdl:message name="IServiceClientHappyHours_GetListUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClientHappyHours_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IServiceClientHappyHours_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClientHappyHours_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IServiceClientHappyHours_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceClientHappyHours">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClientHappyHours/DoWork" message="tns:IServiceClientHappyHours_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClientHappyHours/DoWorkResponse" message="tns:IServiceClientHappyHours_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClientHappyHours/GetListUser" message="tns:IServiceClientHappyHours_GetListUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClientHappyHours/GetListUserResponse" message="tns:IServiceClientHappyHours_GetListUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClientHappyHours/GetUser" message="tns:IServiceClientHappyHours_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClientHappyHours/GetUserResponse" message="tns:IServiceClientHappyHours_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClientHappyHours/Test" message="tns:IServiceClientHappyHours_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClientHappyHours/TestResponse" message="tns:IServiceClientHappyHours_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceClientHappyHours" type="tns:IServiceClientHappyHours">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServiceClientHappyHours/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListUser">
      <soap:operation soapAction="http://tempuri.org/IServiceClientHappyHours/GetListUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IServiceClientHappyHours/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IServiceClientHappyHours/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceClientHappyHours">
    <wsdl:port name="BasicHttpBinding_IServiceClientHappyHours" binding="tns:BasicHttpBinding_IServiceClientHappyHours">
      <soap:address location="http://localhost:5056/ServiceClientHappyHours.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>