SelfHost/Service References/ServiceReferenceHappyHours/ServiceClientHappyHours.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5056/ServiceClientHappyHours.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HhDataLayer.DataAccess" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="max" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HhDataLayer.DataAccess" minOccurs="0" name="GetListUserResult" nillable="true" type="q1:ArrayOfT_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>